.Varieties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.varietiesBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.beans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.beansBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breakfast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breakfastBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.readyToGo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.readyToGoBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}