/* default code */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(242, 235, 235);
    font-family:  "Rajdhani", sans-serif;
}

.align {
    max-width: 1200px;
    margin: auto;
    padding: 0 3rem;
}

/* default end */

.heading {
    display: grid;
    grid-template-columns: 1fr;
}

.facilityBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}